In [1]:
import pandas as pd
import sqlalchemy as db


df = pd.read_csv('C:\\Users\\krmch\\OneDrive\\Desktop\\DW_dataset.csv')



df['Job Title'] = df['Job Title'].str.strip()
df['Gender'] = df['Gender'].str.strip()
df[['Address', 'County']] = df["Address"].str.split(r"\bCo\b", expand=True)
df['County'] = df['County'].str.replace(r'.', "", regex=True)
df['Date of Birth'] = pd.to_datetime(df['Date of Birth'], infer_datetime_format=True)
df['Date Joined'] = pd.to_datetime(df['Date Joined'], infer_datetime_format=True)
df['Date Left'] = pd.to_datetime(df['Date Left'], infer_datetime_format=True)

def getJobCategory(x):
    y = x.split(' ')
    if 'Technician' in y:
        return 'Technical'
    elif 'Director' in y or 'Manager' in y:
        return 'Management'
    return 'Other'

df['Job Category'] = df["Job Title"].apply(getJobCategory)
df = df.drop(['Address', 'Job Title'], axis=1)

In [3]:
df.to_csv(r'C:\Users\krmch\OneDrive\Desktop\DW_dataset.csv', index=False)

In [4]:
engine = db.create_engine('postgresql://postgres:akram1998@localhost:5433/postgres')

In [7]:
df.to_sql('employees', engine, if_exists='replace', index=False)

16

In [12]:
df.columns

Index(['Employee ID', 'Name', 'Date of Birth', 'Gender', 'Salary',
       'Date Joined', 'Date Left', 'County', 'Job Category'],
      dtype='object')

In [20]:
q_1 = """

SELECT "Gender", AVG("Salary") as avg_salary
FROM employees
WHERE "Job Category" = 'Management'
GROUP BY "Gender";

"""

r1 = engine.execute(q_1)

for x in r1:
    print(x)

('F', Decimal('74333.333333333333'))
('M', Decimal('65000.000000000000'))

In [21]:
q_2a = """
SELECT "County", AVG("Salary") AS Average_Salary
FROM employees
WHERE TRIM("County") IN ('Kildare', 'Dublin')

GROUP BY "County";
"""

r_2a = pd.read_sql(q_2a, engine)
print(r_2a)

     County  average_salary
0    Dublin    47500.000000
1   Kildare    61666.666667

In [25]:
q_2b ="""
SELECT "County", "Gender", AVG("Salary") AS Average_Salary
FROM employees
WHERE TRIM("County") IN ('Kildare', 'Dublin')
GROUP BY "County", "Gender";

"""

r_2b = pd.read_sql(q_2b, engine)
print(r_2b)

     County Gender  average_salary
0    Dublin      F    54500.000000
1    Dublin      M    42833.333333
2   Kildare      F    57333.333333
3   Kildare      M    66000.000000

In [29]:
q_3 = """
SELECT 
    CASE 
        WHEN EXTRACT(YEAR FROM "Date of Birth") BETWEEN 1970 AND 1979 THEN '1970s'
        WHEN EXTRACT(YEAR FROM "Date of Birth") BETWEEN 1980 AND 1989 THEN '1980s'
        ELSE '1990s'
    END AS Decade,
    COUNT(*) AS Employee_Count
FROM employees
WHERE "Date Left" IS NULL OR "Date Left" > '2022-12-31'
GROUP BY CASE 
            WHEN EXTRACT(YEAR FROM "Date of Birth") BETWEEN 1970 AND 1979 THEN '1970s'
            WHEN EXTRACT(YEAR FROM "Date of Birth") BETWEEN 1980 AND 1989 THEN '1980s'
            ELSE '1990s'
         END;
"""
r_3 =  pd.read_sql(q_3,  engine)

print(r_3)

  decade  employee_count
0  1990s               2
1  1970s               4
2  1980s               3

In [38]:
q_4 = """
WITH CTE_Joined AS (
    SELECT EXTRACT(YEAR FROM "Date Joined") AS joining_year,
           COUNT(*) AS num_joined
    FROM employees
    WHERE "Date Joined" IS NOT NULL
    GROUP BY 1
),

CTE_Left AS (
    SELECT EXTRACT(YEAR FROM "Date Left") AS leaving_year,
           COUNT(*) AS num_left
    FROM employees
    WHERE "Date Left" IS NOT NULL
    GROUP BY 1
),

CTE_Retention AS (
    SELECT j.joining_year,
           j.num_joined,
           COALESCE(l.num_left, 0) AS num_left,
           CASE WHEN j.num_joined = 0 THEN NULL
                ELSE 1 - (COALESCE(l.num_left, 0) * 1.0 / j.num_joined)
           END AS retention_rate
    FROM CTE_Joined j
    LEFT JOIN CTE_Left l ON j.joining_year = l.leaving_year
)

SELECT joining_year,
       ROUND(retention_rate * 100, 2) AS retention_rate_percentage
FROM CTE_Retention
ORDER BY 1;

"""

r_4 = pd.read_sql(q_4, engine)

print(r_4)

   joining_year  retention_rate_percentage
0        2001.0                      100.0
1        2002.0                       20.0

In [40]:
q_5 = """
WITH StartOfQuarter AS (
    SELECT 
        EXTRACT(YEAR FROM "Date Joined")::INT AS Year,
        EXTRACT(QUARTER FROM "Date Joined")::INT AS Quarter,
        COUNT(*) AS StartCount
    FROM employees  
    WHERE EXTRACT(YEAR FROM "Date Joined") IN (2001, 2002)
    GROUP BY 1, 2
),
EndOfQuarter AS (
    SELECT 
        EXTRACT(YEAR FROM "Date Joined")::INT AS JoinYear,
        EXTRACT(QUARTER FROM "Date Joined")::INT AS JoinQuarter,
        EXTRACT(YEAR FROM "Date Left")::INT AS LeftYear,
        EXTRACT(QUARTER FROM "Date Left")::INT AS LeftQuarter,
        COUNT(*) AS EndCount
    FROM employees  
    WHERE EXTRACT(YEAR FROM "Date Joined") IN (2001, 2002) AND ("Date Left" IS NULL OR EXTRACT(YEAR FROM "Date Left") > EXTRACT(YEAR FROM "Date Joined"))
    GROUP BY 1, 2, 3, 4
)
SELECT 
    s.Year, 
    s.Quarter,
    (COALESCE(e.EndCount, 0)*1.0 / s.StartCount) * 100 AS Retention_Rate
FROM StartOfQuarter s
LEFT JOIN EndOfQuarter e ON s.Year = e.JoinYear AND s.Quarter = e.JoinQuarter
ORDER BY s.Year, s.Quarter;

"""

r_5 = pd.read_sql(q_5, engine)

print(r_5)

    year  quarter  retention_rate
0   2001        1       14.285714
1   2001        1       14.285714
2   2001        1       14.285714
3   2001        1       14.285714
4   2001        1       42.857143
5   2001        2       50.000000
6   2001        2       50.000000
7   2001        3       50.000000
8   2001        3       50.000000
9   2002        1      100.000000
10  2002        2       50.000000
11  2002        4      100.000000

QUESTION 2

In [42]:
import pandas as pd
from sqlalchemy import create_engine


df = pd.read_csv('C:/Users/krmch/OneDrive/Desktop/input_DW_data.csv')


engine = create_engine('postgresql://postgres:akram1998@localhost:5433/postgres')


df.to_sql('input_dw_data', engine, if_exists='replace', index=False)

9

question 2 part 2 

Drill-down / Roll-up: These operations are used to navigate among levels of data ranging from the most summarized (up) to the most detailed (down).

Since we are looking for average grades  we might need a roll-up operation to aggregate grades from the course level to the student level. If we have multiple entries per student and course, then we  aggregate to get a single average grade per student for CS courses.

Slice: This operation performs a selection on one dimension of the given cube, resulting in a sub-cube.

We would perform a slice operation for the 'course' dimension to filter only the CS courses.

Dice: The dice operation is a selection on two or more dimensions of a cube, resulting in a sub-cube.

example in code in given below.

In [45]:
from sqlalchemy import create_engine, func, MetaData, Table, select


engine = create_engine('postgresql://postgres:akram1998@localhost:5433/postgres')
metadata = MetaData(bind=engine)


input_dw_data = Table('input_dw_data', metadata, autoload_with=engine)


query = (
    select([input_dw_data.c.name, func.avg(input_dw_data.c.avg_grade).label('average_grade')])
    .where(input_dw_data.c.course == 'CS')
    .group_by(input_dw_data.c.name)
)

with engine.connect() as connection:
    result = connection.execute(query).fetchall()
    for row in result:
        print(row)

('B', Decimal('58.0000000000000000'))
('C', Decimal('86.6666666666666667'))

part 3

total numnber of cuboids is 

2x2x2x2 -1 = 15

part 4

In [46]:
from sqlalchemy import create_engine

username = 'postgres'
password = 'akram1998'
host = 'localhost'
port = '5433'
database = 'postgres'

engine = create_engine(f'postgresql://{username}:{password}@{host}:{port}/{database}')

part 5

In [ ]:
from sqlalchemy import Table, MetaData, select, update, insert




def read_record(table_name, field, value, engine):
    metadata = MetaData(bind=engine)
    table = Table(table_name, metadata, autoload_with=engine)
    query = select([table]).where(table.c[field] == value)
    with engine.connect() as connection:
        result = connection.execute(query).fetchone()
    return result



def write_record(table_name, values, engine):
    metadata = MetaData(bind=engine)
    table = Table(table_name, metadata, autoload_with=engine)
    ins = insert(table).values(**values)
    with engine.connect() as connection:
        connection.execute(ins)

        
        

def update_record(table_name, update_field, value, new_value, select_field, select_value, engine):
    metadata = MetaData(bind=engine)
    table = Table(table_name, metadata, autoload_with=engine)
    stmt = (
        update(table).
        where(table.c[select_field] == select_value).
        values({update_field: new_value})
    )
    with engine.connect() as connection:
        connection.execute(stmt)

        
        

def list_datasets(engine):
    metadata = MetaData(bind=engine)
    metadata.reflect(engine)
    return list(metadata.tables.keys())